[submodule "repo/vivado-library"]
	path = hw/repo/vivado-library
	url = http://github.com/digilent/vivado-library.git
[submodule "digilent-vivado-scripts"]
	path = hw/scripts
	url = https://github.com/digilent/digilent-vivado-scripts.git
